*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('img/1_editables/elpollelocco-hintergund.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
}

h1 {
    width: 100%;
    text-align: center;
    color: rgb(32, 20, 16);
    text-shadow: 2px 2px 5px white;
}

canvas {
    width: 100%;
    height: 100%;
    background-image: url('img/1_editables/elpollelocco-hintergund.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#canvasframe {
    height: 720px;
    width: 1110px;
    position: relative;
}

#start-screen {
    width: 100%;
    height: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fullscreen-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background-image: url('img/1_editables/expand-solid.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    cursor: pointer;
}