*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    align-items: center;
    background-image: url('img/elpolloloccobackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#turnDevise {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    color: yellow;
    z-index: 10000;
    font-size: 1.25rem;
}

#canvas {
    border-radius: 15px;
}

.d-none {
    display: none!important;
}

h1 {
    width: 100%;
    text-align: center;
    color: rgb(32, 20, 16);
    text-shadow: 2px 2px 5px white;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 84px;
}

canvas {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#canvasframe {
    max-height: 480px;
    max-width: 720px;
    width: 80%;
    height: 100%;
    position: relative;
}

#start-screen {
    width: 100%;
    height: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9997;
    position: relative;
    border-radius: 15px;
}

#fullscreen-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background-image: url('img/1_editables/expand-solid.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    cursor: pointer;
}

#mute-btn {
    position: absolute;
    top: 28px;
    right: 70px;
    width: 35px;
    height: 35px;
    background-image: url('img/1_editables/volume-high-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    cursor: pointer;
}

.prestart-btns-frame {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    z-index: 9999;
    width: 100%;
    justify-content: end!important;
    gap: 16px;
}

.prestart-btn {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart-btn_frame {
    width: 100%;
    position: absolute;
    bottom: 50px;
    z-index: 11000;
}

#restart-btn {
    width: 240px;
    height: 80px;
    background-color: rgb(235, 224, 179);
    border: 6px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#restart-btn:hover {
    background-color: rgba(235, 224, 179, 0.8);
    cursor: pointer;
}

.white-border {
    border-color: white !important;
}

.prestart-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.prestart-btn img {
    width: 28px;
    height: 28px;
    padding: 4px;
}

#info-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

#info-container p {
    color: yellow;
    font-size: 24px;
    margin: 16px;
}

#mobile-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    z-index: 10000;
    display: none;
    justify-content: space-between;
}

.control-btn {
    height: 86%;
    width: 30%;
    border: 3px solid rgb(120, 79, 2);
    border-radius: 50%;
    background-color: orange;
}

.mobile-controls-frame {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    width: calc(26% + 8px);
}

.control-img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    #canvasframe {
        width: 100%;
    }

    h1 {
        font-size: 64px;
    }

    #mobile-controls {
        display: flex;
    }

    #fullscreen-btn {
        display: none;
    }
}

@media (max-height: 480px) {
    #canvasframe {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media(max-width: 652px) {
    #turnDevise {
        display: flex;
    }
}